- if not flash[:message].nil?
  %div.error
    Error:
    =flash[:message]
%table
  = form_for(@game) do |f|
    %tr
      %td= f.label :short_name, "Course Name:"
      %td= f.text_field :short_name
    %tr
      %td= f.label :game_begins, "Course Begins:"
      %td= f.datetime_select :game_begins
    %tr
      %td= f.label :game_ends, "Course Ends:"
      %td= f.datetime_select :game_ends
    %tr
      %td= f.label :time_zone, "Time Zone:"
      %td= f.time_zone_select :time_zone
    %tr
      %td{:colspan=>2}
        %div{:align=>"center"}= f.submit "Create This Course"

